// Font import
@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,500,700');

// Custom variables

// Bootstrap variables

// Bootstrap imports
@import "bootstrap";

// Bootstrap Fixes

body {
  font-family: "Rubik", "Helvetica", sans-serif;
}

form > .row {
  margin-bottom: 1em;
}

// Custom Styles

#formContainer {
  margin-top: 3em;
}

.alert {
  border: none;
  border-radius: 0;
  text-align: center;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px 0;
}

#testSlide {
  margin-top: 5em;
}

.question {
  font-size: 3em;
  font-weight: 500;
  margin-bottom: 1em;
}

.options {
  font-size: 2.5em;
}

.options .row {
  padding: 0.5em 0;
  margin-bottom: 0.5em;
}

.opt-type {
  padding: 0.25em 0.5em;
  border: 2px solid black;
}

.opt1 {
  border-color: red;
  color: red;
  background: transparent;
}

.opt2 {
  border-color: green;
  color: green;
  background: transparent;
}

.opt3 {
  border-color: blue;
  color: blue;
  background: transparent;
}

.opt4 {
  border-color: orange;
  color: orange;
  background: transparent;
}

#answerA {
  border: 3px solid red;
  color: red;
}

#answerB {
  border: 3px solid green;
  color: green;
}

#answerC {
  border: 3px solid blue;
  color: blue;
}

#answerD {
  border: 3px solid orange;
  color: orange;
}

.result {
  float: right;
}

.correct {
  background-color: #e6ffba;
  outline: 2px solid green;
}

#slideActions {
  position: fixed;
  bottom: 5px;
  right: 5px;
}

#responseForm {
  margin-top: 5em;
}

#responseForm .form-control {
  text-align: center;
  font-size: 3em;
  border: 3px solid black;
}

.btn-answer {
  width: 100%;
  font-size: 5em;
  margin-bottom: 0.25em;
}
